body {
  background-color: #240433 !important;
}

.container {
  max-height: 100vh;
  padding: 0px 0px !important;
}

.top {
  width: auto;
  height: 212px;
  background-image: url('./assets/Images/background.png');
  background-repeat: no-repeat;
  background-size: 1500px 750px;
  background-position: 45% 30%;
}

.top button {
  position: absolute;
  right: 10px;
  top: 15px;
  font-family: 'Irish Grover';
  background-color: var(--color-button);
  color: var(--color-text-2);
  padding: 3px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.top button a {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
}

.monster a {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.monster img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 160px;
  z-index: 2;
}

.coders {
  position: absolute;
  width: 90%;
  top: 420px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  
 /*  color: var(--color-1);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  
  font-family: 'Irish Grover';
  z-index: 1;
}

.coders button {
  font-family: 'Irish Grover';
  background-color: var(--color-button);
  color: var(--color-text-2);
  padding: 3px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.coders__list {
  position: absolute;
  width: 90%;
  top: 130px;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  overflow: auto;
  white-space: nowrap;

  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Irish Grover';

  color: var(--color-text);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 100;
}

.coder {
  padding: 10px;
}

.coder:active {
  color: var(--color-button);
}

.coders__chosen {
  position: absolute;
  width: 90%;
  top: 430px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Irish Grover';

  color: var(--color-text);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 100;
}

.bottom {
  width: auto;
  height: 470px;
  background-image: url('./assets/Images/background.png');
  background-repeat: no-repeat;
  background-size: 1500px 750px;
  background-position: 47% 30%;
  transform: rotate(-180deg);
}