@font-face {
  font-family: 'Melted Monster';
  src: url(./assets/Font/Melted\ Monster.ttf);
}

@font-face {
  font-family: 'Irish Grover';
  src: url(./assets/Font/irish-grover.regular.ttf);
}

:root {
  --bg: #240433;
  --color-text: #00FFD1;
  --color-text-2: #310156;
  --color-button: #F7FC00;
  --color-pink: #FF1493;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Irish Grover';
  background-color: var(--black);
}

h1 {
  font-family: 'Melted Monster';
  color: var(--color-text);
}